{
   "data":{
{% if tmp_vault_content.status == 200 %}
      {{ tmp_vault_content.json.data.data | replace("'", "\"") | replace("{", "")| replace("}", "")}},
{% endif %}
      "{{ tmp_vault_user }}":"{{ tmp_vault_password }}"
   }
}